In [4]:
%pip install pandas
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

Requirement already satisfied: pandas in c:\users\kamot\anaconda3\lib\site-packages (1.4.3)
Requirement already satisfied: pytz>=2020.1 in c:\users\kamot\anaconda3\lib\site-packages (from pandas) (2022.1)
Requirement already satisfied: numpy>=1.18.5 in c:\users\kamot\anaconda3\lib\site-packages (from pandas) (1.21.5)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\kamot\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\kamot\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [5]:
train = pd.read_csv('train - mercedes benz.csv')
train.head()

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0,130.81,k,v,at,a,d,u,j,o,...,0,0,1,0,0,0,0,0,0,0
1,6,88.53,k,t,av,e,d,y,l,o,...,1,0,0,0,0,0,0,0,0,0
2,7,76.26,az,w,n,c,d,x,j,x,...,0,0,0,0,0,0,1,0,0,0
3,9,80.62,az,t,n,f,d,x,l,e,...,0,0,0,0,0,0,0,0,0,0
4,13,78.02,az,v,n,f,d,h,d,n,...,0,0,0,0,0,0,0,0,0,0

In [6]:
test = pd.read_csv('test - mercedes benz.csv')
test.head()

,ID,X0,X1,X2,X3,X4,X5,X6,X8,X10,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,1,az,v,n,f,d,t,a,w,0,...,0,0,0,1,0,0,0,0,0,0
1,2,t,b,ai,a,d,b,g,y,0,...,0,0,1,0,0,0,0,0,0,0
2,3,az,v,as,f,d,a,j,j,0,...,0,0,0,1,0,0,0,0,0,0
3,4,az,l,n,f,d,z,l,n,0,...,0,0,0,1,0,0,0,0,0,0
4,5,w,s,as,c,d,y,i,m,0,...,1,0,0,0,0,0,0,0,0,0

In [7]:
train.shape, test.shape

((4209, 378), (4209, 377))

In [8]:
train.dtypes, test.dtypes

(ID        int64
 y       float64
 X0       object
 X1       object
 X2       object
          ...
 X380      int64
 X382      int64
 X383      int64
 X384      int64
 X385      int64
 Length: 378, dtype: object,
 ID       int64
 X0      object
 X1      object
 X2      object
 X3      object
          ...
 X380     int64
 X382     int64
 X383     int64
 X384     int64
 X385     int64
 Length: 377, dtype: object)

In [9]:
train.var(), test.var()

C:\Users\kamot\AppData\Local\Temp\ipykernel_9604\2660907462.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  train.var(), test.var()

(ID      5.941936e+06
 y       1.607667e+02
 X10     1.313092e-02
 X11     0.000000e+00
 X12     6.945713e-02
             ...
 X380    8.014579e-03
 X382    7.546747e-03
 X383    1.660732e-03
 X384    4.750593e-04
 X385    1.423823e-03
 Length: 370, dtype: float64,
 ID      5.871311e+06
 X10     1.865006e-02
 X11     2.375861e-04
 X12     6.885074e-02
 X13     5.734498e-02
             ...
 X380    8.014579e-03
 X382    8.715481e-03
 X383    4.750593e-04
 X384    7.124196e-04
 X385    1.660732e-03
 Length: 369, dtype: float64)

In [10]:
train.columns, test.columns

(Index(['ID', 'y', 'X0', 'X1', 'X2', 'X3', 'X4', 'X5', 'X6', 'X8',
        ...
        'X375', 'X376', 'X377', 'X378', 'X379', 'X380', 'X382', 'X383', 'X384',
        'X385'],
       dtype='object', length=378),
 Index(['ID', 'X0', 'X1', 'X2', 'X3', 'X4', 'X5', 'X6', 'X8', 'X10',
        ...
        'X375', 'X376', 'X377', 'X378', 'X379', 'X380', 'X382', 'X383', 'X384',
        'X385'],
       dtype='object', length=377))

In [11]:
train.isnull().sum().sum(), test.isnull().sum().sum() #test data and train data - null values checked.

(0, 0)

In [12]:
dtype_data=train.dtypes.reset_index()
dtype_data.columns = ["Count", "Column Type"]
dtype_data.groupby("Column Type").aggregate('count').reset_index()

  Column Type  Count
0       int64    369
1     float64      1
2      object      8

In [13]:
dtype_data=test.dtypes.reset_index()
dtype_data.columns = ["Count", "Column Type"]
dtype_data.groupby("Column Type").aggregate('count').reset_index()

  Column Type  Count
0       int64    369
1      object      8

In [14]:
train.iloc[:15 ,:15]

    ID       y  X0 X1  X2 X3 X4 X5 X6 X8  X10  X11  X12  X13  X14
0    0  130.81   k  v  at  a  d  u  j  o    0    0    0    1    0
1    6   88.53   k  t  av  e  d  y  l  o    0    0    0    0    0
2    7   76.26  az  w   n  c  d  x  j  x    0    0    0    0    0
3    9   80.62  az  t   n  f  d  x  l  e    0    0    0    0    0
4   13   78.02  az  v   n  f  d  h  d  n    0    0    0    0    0
5   18   92.93   t  b   e  c  d  g  h  s    0    0    0    0    1
6   24  128.76  al  r   e  f  d  f  h  s    0    0    0    0    1
7   25   91.91   o  l  as  f  d  f  j  a    0    0    0    0    1
8   27  108.67   w  s  as  e  d  f  i  h    0    0    0    0    1
9   30  126.99   j  b  aq  c  d  f  a  e    0    0    0    0    1
10  31  102.09   h  r   r  f  d  f  h  p    0    0    1    0    0
11  32   98.12  al  r   e  f  d  f  h  o    0    0    0    0    1
12  34   82.62   s  b  ai  c  d  f  g  m    0    0    0    0    0
13  36   94.12  al  r   e  f  d  j  h  o    0    0    0    0    1
14  37   99.15   o  s  as  e  d  j  g  m    0    0    0    0    1

In [15]:
test.iloc[:15 ,:15]

    ID  X0  X1  X2 X3 X4 X5 X6 X8  X10  X11  X12  X13  X14  X15
0    1  az   v   n  f  d  t  a  w    0    0    0    0    0    0
1    2   t   b  ai  a  d  b  g  y    0    0    0    0    0    0
2    3  az   v  as  f  d  a  j  j    0    0    0    0    1    0
3    4  az   l   n  f  d  z  l  n    0    0    0    0    0    0
4    5   w   s  as  c  d  y  i  m    0    0    0    0    1    0
5    8   y  aa  ai  e  d  x  g  s    0    0    0    0    0    0
6   10   x   b  ae  d  d  x  d  y    0    0    0    0    0    0
7   11   f   s  ae  c  d  h  d  a    0    0    0    1    0    0
8   12  ap   l   s  c  d  h  j  n    0    0    0    0    0    0
9   14   o   v  as  f  d  g  f  v    0    0    0    0    1    0
10  15  ap   l   s  c  d  g  d  n    0    0    0    0    0    0
11  16  ay   b   b  a  d  g  l  r    0    0    0    0    0    0
12  17  al   r   e  f  d  g  h  o    0    0    0    0    1    0
13  19   o   v  ae  g  d  g  g  j    0    0    0    0    0    0
14  20   h   a  ak  f  d  g  l  t    0    0    1    0    0    0

In [16]:
obj_dtype=train.dtypes[train.dtypes=='object'].index
for i in obj_dtype:
    print(i, train[i].unique())

X0 ['k' 'az' 't' 'al' 'o' 'w' 'j' 'h' 's' 'n' 'ay' 'f' 'x' 'y' 'aj' 'ak' 'am'
 'z' 'q' 'at' 'ap' 'v' 'af' 'a' 'e' 'ai' 'd' 'aq' 'c' 'aa' 'ba' 'as' 'i'
 'r' 'b' 'ax' 'bc' 'u' 'ad' 'au' 'm' 'l' 'aw' 'ao' 'ac' 'g' 'ab']
X1 ['v' 't' 'w' 'b' 'r' 'l' 's' 'aa' 'c' 'a' 'e' 'h' 'z' 'j' 'o' 'u' 'p' 'n'
 'i' 'y' 'd' 'f' 'm' 'k' 'g' 'q' 'ab']
X2 ['at' 'av' 'n' 'e' 'as' 'aq' 'r' 'ai' 'ak' 'm' 'a' 'k' 'ae' 's' 'f' 'd'
 'ag' 'ay' 'ac' 'ap' 'g' 'i' 'aw' 'y' 'b' 'ao' 'al' 'h' 'x' 'au' 't' 'an'
 'z' 'ah' 'p' 'am' 'j' 'q' 'af' 'l' 'aa' 'c' 'o' 'ar']
X3 ['a' 'e' 'c' 'f' 'd' 'b' 'g']
X4 ['d' 'b' 'c' 'a']
X5 ['u' 'y' 'x' 'h' 'g' 'f' 'j' 'i' 'd' 'c' 'af' 'ag' 'ab' 'ac' 'ad' 'ae'
 'ah' 'l' 'k' 'n' 'm' 'p' 'q' 's' 'r' 'v' 'w' 'o' 'aa']
X6 ['j' 'l' 'd' 'h' 'i' 'a' 'g' 'c' 'k' 'e' 'f' 'b']
X8 ['o' 'x' 'e' 'n' 's' 'a' 'h' 'p' 'm' 'k' 'd' 'i' 'v' 'j' 'b' 'q' 'w' 'g'
 'y' 'l' 'f' 'u' 'r' 't' 'c']

In [17]:
obj_dtype=test.dtypes[test.dtypes=='object'].index
for i in obj_dtype:
    print(i, test[i].unique())

X0 ['az' 't' 'w' 'y' 'x' 'f' 'ap' 'o' 'ay' 'al' 'h' 'z' 'aj' 'd' 'v' 'ak'
 'ba' 'n' 'j' 's' 'af' 'ax' 'at' 'aq' 'av' 'm' 'k' 'a' 'e' 'ai' 'i' 'ag'
 'b' 'am' 'aw' 'as' 'r' 'ao' 'u' 'l' 'c' 'ad' 'au' 'bc' 'g' 'an' 'ae' 'p'
 'bb']
X1 ['v' 'b' 'l' 's' 'aa' 'r' 'a' 'i' 'p' 'c' 'o' 'm' 'z' 'e' 'h' 'w' 'g' 'k'
 'y' 't' 'u' 'd' 'j' 'q' 'n' 'f' 'ab']
X2 ['n' 'ai' 'as' 'ae' 's' 'b' 'e' 'ak' 'm' 'a' 'aq' 'ag' 'r' 'k' 'aj' 'ay'
 'ao' 'an' 'ac' 'af' 'ax' 'h' 'i' 'f' 'ap' 'p' 'au' 't' 'z' 'y' 'aw' 'd'
 'at' 'g' 'am' 'j' 'x' 'ab' 'w' 'q' 'ah' 'ad' 'al' 'av' 'u']
X3 ['f' 'a' 'c' 'e' 'd' 'g' 'b']
X4 ['d' 'b' 'a' 'c']
X5 ['t' 'b' 'a' 'z' 'y' 'x' 'h' 'g' 'f' 'j' 'i' 'd' 'c' 'af' 'ag' 'ab' 'ac'
 'ad' 'ae' 'ah' 'l' 'k' 'n' 'm' 'p' 'q' 's' 'r' 'v' 'w' 'o' 'aa']
X6 ['a' 'g' 'j' 'l' 'i' 'd' 'f' 'h' 'c' 'k' 'e' 'b']
X8 ['w' 'y' 'j' 'n' 'm' 's' 'a' 'v' 'r' 'o' 't' 'h' 'c' 'k' 'p' 'u' 'd' 'g'
 'b' 'q' 'e' 'l' 'f' 'i' 'x']

In [18]:
column_categories = ['X0','X1','X2','X3','X4','X6','X7','X8']

In [19]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [20]:
le0 = LabelEncoder()
le0.fit(list(train.X0)+list(test.X0))
train.X0 = le0.transform(train.X0)
test.X0 = le0.transform(test.X0)

In [21]:
le1 = LabelEncoder()
le1.fit(list(train.X1)+list(test.X1))
train.X1 = le1.transform(train.X1)
test.X1 = le1.transform(test.X1)

In [22]:
le2 = LabelEncoder()
le2.fit(list(train.X2)+list(test.X2))
train.X2 = le2.transform(train.X2)
test.X2 = le2.transform(test.X2)

In [23]:
le3 = LabelEncoder()
le3.fit(list(train.X3)+list(test.X3))
train.X3 = le3.transform(train.X3)
test.X3 = le3.transform(test.X3)

In [24]:
le4 = LabelEncoder()
le4.fit(list(train.X4)+list(test.X4))
train.X4 = le4.transform(train.X4)
test.X4 = le4.transform(test.X4)

In [25]:
le5 = LabelEncoder()
le5.fit(list(train.X5)+list(test.X5))
train.X5 = le5.transform(train.X5)
test.X5 = le5.transform(test.X5)

In [26]:
le6 = LabelEncoder()
le6.fit(list(train.X6)+list(test.X6))
train.X6 = le6.transform(train.X6)
test.X6 = le6.transform(test.X6)

In [27]:
le8 = LabelEncoder()
le8.fit(list(train.X8)+list(test.X8))
train.X8 = le8.transform(train.X8)
test.X8 = le8.transform(test.X8)

In [28]:
le9 = LabelEncoder()
train['y'] =le9.fit_transform(train['y'])

In [29]:
train.head()

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0,2466,37,23,20,0,3,27,9,14,...,0,0,1,0,0,0,0,0,0,0
1,6,366,37,21,22,4,3,31,11,14,...,1,0,0,0,0,0,0,0,0,0
2,7,69,24,24,38,2,3,30,9,23,...,0,0,0,0,0,0,1,0,0,0
3,9,133,24,21,38,5,3,30,11,4,...,0,0,0,0,0,0,0,0,0,0
4,13,106,24,23,38,5,3,14,3,13,...,0,0,0,0,0,0,0,0,0,0

In [30]:
test.head()

,ID,X0,X1,X2,X3,X4,X5,X6,X8,X10,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,1,24,23,38,5,3,26,0,22,0,...,0,0,0,1,0,0,0,0,0,0
1,2,46,3,9,0,3,9,6,24,0,...,0,0,1,0,0,0,0,0,0,0
2,3,24,23,19,5,3,0,9,9,0,...,0,0,0,1,0,0,0,0,0,0
3,4,24,13,38,5,3,32,11,13,0,...,0,0,0,1,0,0,0,0,0,0
4,5,49,20,19,2,3,31,8,12,0,...,1,0,0,0,0,0,0,0,0,0

In [31]:
unique_value_dict = {}
for col in train.columns:
    if col not in ["ID", "y", "X0", "X1", "X2", "X3", "X4", "X5", "X6", "X8"]:
        unique_value = str(np.sort(train[col].unique()).tolist())
        t_list = unique_value_dict.get(unique_value, [])
        t_list.append(col)
        unique_value_dict[unique_value] = t_list[:] 
for unique_val, columns in unique_value_dict.items():
        print("Columns with unique values : ",unique_val)
        print(columns)
        print("-----------------------------------------------------------")

Columns with unique values :  [0, 1]
['X10', 'X12', 'X13', 'X14', 'X15', 'X16', 'X17', 'X18', 'X19', 'X20', 'X21', 'X22', 'X23', 'X24', 'X26', 'X27', 'X28', 'X29', 'X30', 'X31', 'X32', 'X33', 'X34', 'X35', 'X36', 'X37', 'X38', 'X39', 'X40', 'X41', 'X42', 'X43', 'X44', 'X45', 'X46', 'X47', 'X48', 'X49', 'X50', 'X51', 'X52', 'X53', 'X54', 'X55', 'X56', 'X57', 'X58', 'X59', 'X60', 'X61', 'X62', 'X63', 'X64', 'X65', 'X66', 'X67', 'X68', 'X69', 'X70', 'X71', 'X73', 'X74', 'X75', 'X76', 'X77', 'X78', 'X79', 'X80', 'X81', 'X82', 'X83', 'X84', 'X85', 'X86', 'X87', 'X88', 'X89', 'X90', 'X91', 'X92', 'X94', 'X95', 'X96', 'X97', 'X98', 'X99', 'X100', 'X101', 'X102', 'X103', 'X104', 'X105', 'X106', 'X108', 'X109', 'X110', 'X111', 'X112', 'X113', 'X114', 'X115', 'X116', 'X117', 'X118', 'X119', 'X120', 'X122', 'X123', 'X124', 'X125', 'X126', 'X127', 'X128', 'X129', 'X130', 'X131', 'X132', 'X133', 'X134', 'X135', 'X136', 'X137', 'X138', 'X139', 'X140', 'X141', 'X142', 'X143', 'X144', 'X145', 'X146', 'X147', 'X148', 'X150', 'X151', 'X152', 'X153', 'X154', 'X155', 'X156', 'X157', 'X158', 'X159', 'X160', 'X161', 'X162', 'X163', 'X164', 'X165', 'X166', 'X167', 'X168', 'X169', 'X170', 'X171', 'X172', 'X173', 'X174', 'X175', 'X176', 'X177', 'X178', 'X179', 'X180', 'X181', 'X182', 'X183', 'X184', 'X185', 'X186', 'X187', 'X189', 'X190', 'X191', 'X192', 'X194', 'X195', 'X196', 'X197', 'X198', 'X199', 'X200', 'X201', 'X202', 'X203', 'X204', 'X205', 'X206', 'X207', 'X208', 'X209', 'X210', 'X211', 'X212', 'X213', 'X214', 'X215', 'X216', 'X217', 'X218', 'X219', 'X220', 'X221', 'X222', 'X223', 'X224', 'X225', 'X226', 'X227', 'X228', 'X229', 'X230', 'X231', 'X232', 'X234', 'X236', 'X237', 'X238', 'X239', 'X240', 'X241', 'X242', 'X243', 'X244', 'X245', 'X246', 'X247', 'X248', 'X249', 'X250', 'X251', 'X252', 'X253', 'X254', 'X255', 'X256', 'X257', 'X258', 'X259', 'X260', 'X261', 'X262', 'X263', 'X264', 'X265', 'X266', 'X267', 'X269', 'X270', 'X271', 'X272', 'X273', 'X274', 'X275', 'X276', 'X277', 'X278', 'X279', 'X280', 'X281', 'X282', 'X283', 'X284', 'X285', 'X286', 'X287', 'X288', 'X291', 'X292', 'X294', 'X295', 'X296', 'X298', 'X299', 'X300', 'X301', 'X302', 'X304', 'X305', 'X306', 'X307', 'X308', 'X309', 'X310', 'X311', 'X312', 'X313', 'X314', 'X315', 'X316', 'X317', 'X318', 'X319', 'X320', 'X321', 'X322', 'X323', 'X324', 'X325', 'X326', 'X327', 'X328', 'X329', 'X331', 'X332', 'X333', 'X334', 'X335', 'X336', 'X337', 'X338', 'X339', 'X340', 'X341', 'X342', 'X343', 'X344', 'X345', 'X346', 'X348', 'X349', 'X350', 'X351', 'X352', 'X353', 'X354', 'X355', 'X356', 'X357', 'X358', 'X359', 'X360', 'X361', 'X362', 'X363', 'X364', 'X365', 'X366', 'X367', 'X368', 'X369', 'X370', 'X371', 'X372', 'X373', 'X374', 'X375', 'X376', 'X377', 'X378', 'X379', 'X380', 'X382', 'X383', 'X384', 'X385']
-----------------------------------------------------------
Columns with unique values :  [0]
['X11', 'X93', 'X107', 'X233', 'X235', 'X268', 'X289', 'X290', 'X293', 'X297', 'X330', 'X347']
-----------------------------------------------------------

In [32]:
features = train.drop(['y','ID','X11', 'X93', 'X107', 'X233', 
                       'X235', 'X268', 'X289', 'X2', 'X293', 
                       'X297', 'X330', 'X347'],axis=1)
target = train[['y']]

In [33]:
features.shape,target.shape

((4209, 364), (4209, 1))

In [34]:
from sklearn.model_selection import train_test_split

In [35]:
x_train, x_test, y_train, y_test = train_test_split(features,target, train_size=.8)

In [36]:
x_train.shape, x_test.shape, y_train.shape,y_test.shape

((3367, 364), (842, 364), (3367, 1), (842, 1))

In [37]:
from sklearn.ensemble import RandomForestClassifier
classifier_rf = RandomForestClassifier()

classifier_rf.fit(x_train, y_train)

In [38]:
pred = classifier_rf.predict

In [56]:
from sklearn.decomposition import PCA

In [46]:
pca = PCA(n_components=.9)

In [57]:
pca.fit(x_train)

PCA(n_components=0.9)

In [58]:
pca.explained_variance_ratio_

array([0.51765178, 0.16691279, 0.13995002, 0.10619137])

In [60]:
x_train_pca = pca.transform(x_train)
x_test_pca = pca.transform(x_test)

In [61]:
x_train_pca.shape, x_test_pca.shape

((3367, 4), (842, 4))

In [63]:
x_train_pca

array([[ 12.9203757 ,  -9.60889009,  14.34020655,  -0.43354524],
       [-19.41285347,  -5.30214398,  -3.4312346 ,   2.93029856],
       [ 24.40844717,  -9.55251294,  -0.75721312,  -6.70630324],
       ...,
       [-18.91638555,   2.38003712,  -5.78392712, -12.11459933],
       [-18.18149273,   1.90112569,  -7.50714899, -11.9661009 ],
       [-12.71984946,  10.44648733, -10.71597627,   1.16739465]])

In [64]:
features_test = test.drop(['ID','X11', 'X93', 'X107', 'X233', 'X235', 'X268', 'X289', 'X2', 'X293', 'X297', 'X330', 'X347'],axis=1)
target_test = train[['y']]

In [65]:
features_test.dtypes

X0      int32
X1      int32
X3      int32
X4      int32
X5      int32
        ...
X380    int64
X382    int64
X383    int64
X384    int64
X385    int64
Length: 364, dtype: object

In [66]:
from sklearn.model_selection import train_test_split

In [71]:
x_train, x_test, y_train, y_test = train_test_split(features_test,target_test, train_size=.8
)

In [72]:
x_train.shape, x_test.shape, y_train.shape, y_test.shape

((3367, 364), (842, 364), (3367, 1), (842, 1))

In [79]:
%pip install xgboost

Collecting xgboost
  Downloading xgboost-1.6.2-py3-none-win_amd64.whl (125.4 MB)
                                              0.3/125.4 MB 7.9 kB/s eta 4:23:20
Note: you may need to restart the kernel to use updated packages.

ERROR: Exception:
Traceback (most recent call last):
  File "C:\Users\kamot\anaconda3\lib\site-packages\pip\_vendor\urllib3\response.py", line 435, in _error_catcher
    yield
  File "C:\Users\kamot\anaconda3\lib\site-packages\pip\_vendor\urllib3\response.py", line 516, in read
    data = self._fp.read(amt) if not fp_closed else b""
  File "C:\Users\kamot\anaconda3\lib\site-packages\pip\_vendor\cachecontrol\filewrapper.py", line 90, in read
    data = self.__fp.read(amt)
  File "C:\Users\kamot\anaconda3\lib\http\client.py", line 462, in read
    n = self.readinto(b)
  File "C:\Users\kamot\anaconda3\lib\http\client.py", line 506, in readinto
    n = self.fp.readinto(b)
  File "C:\Users\kamot\anaconda3\lib\socket.py", line 704, in readinto
    return self._sock.recv_into(b)
  File "C:\Users\kamot\anaconda3\lib\ssl.py", line 1241, in recv_into
    return self.read(nbytes, buffer)
  File "C:\Users\kamot\anaconda3\lib\ssl.py", line 1099, in read
    return self._sslobj.read(len, buffer)
socket.timeout: The read operation timed out

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Users\kamot\anaconda3\lib\site-packages\pip\_internal\cli\base_command.py", line 167, in exc_logging_wrapper
    status = run_func(*args)
  File "C:\Users\kamot\anaconda3\lib\site-packages\pip\_internal\cli\req_command.py", line 205, in wrapper
    return func(self, options, args)
  File "C:\Users\kamot\anaconda3\lib\site-packages\pip\_internal\commands\install.py", line 341, in run
    requirement_set = resolver.resolve(
  File "C:\Users\kamot\anaconda3\lib\site-packages\pip\_internal\resolution\resolvelib\resolver.py", line 94, in resolve
    result = self._result = resolver.resolve(
  File "C:\Users\kamot\anaconda3\lib\site-packages\pip\_vendor\resolvelib\resolvers.py", line 481, in resolve
    state = resolution.resolve(requirements, max_rounds=max_rounds)
  File "C:\Users\kamot\anaconda3\lib\site-packages\pip\_vendor\resolvelib\resolvers.py", line 348, in resolve
    self._add_to_criteria(self.state.criteria, r, parent=None)
  File "C:\Users\kamot\anaconda3\lib\site-packages\pip\_vendor\resolvelib\resolvers.py", line 172, in _add_to_criteria
    if not criterion.candidates:
  File "C:\Users\kamot\anaconda3\lib\site-packages\pip\_vendor\resolvelib\structs.py", line 151, in __bool__
    return bool(self._sequence)
  File "C:\Users\kamot\anaconda3\lib\site-packages\pip\_internal\resolution\resolvelib\found_candidates.py", line 155, in __bool__
    return any(self)
  File "C:\Users\kamot\anaconda3\lib\site-packages\pip\_internal\resolution\resolvelib\found_candidates.py", line 143, in <genexpr>
    return (c for c in iterator if id(c) not in self._incompatible_ids)
  File "C:\Users\kamot\anaconda3\lib\site-packages\pip\_internal\resolution\resolvelib\found_candidates.py", line 47, in _iter_built
    candidate = func()
  File "C:\Users\kamot\anaconda3\lib\site-packages\pip\_internal\resolution\resolvelib\factory.py", line 215, in _make_candidate_from_link
    self._link_candidate_cache[link] = LinkCandidate(
  File "C:\Users\kamot\anaconda3\lib\site-packages\pip\_internal\resolution\resolvelib\candidates.py", line 291, in __init__
    super().__init__(
  File "C:\Users\kamot\anaconda3\lib\site-packages\pip\_internal\resolution\resolvelib\candidates.py", line 161, in __init__
    self.dist = self._prepare()
  File "C:\Users\kamot\anaconda3\lib\site-packages\pip\_internal\resolution\resolvelib\candidates.py", line 230, in _prepare
    dist = self._prepare_distribution()
  File "C:\Users\kamot\anaconda3\lib\site-packages\pip\_internal\resolution\resolvelib\candidates.py", line 302, in _prepare_distribution
    return preparer.prepare_linked_requirement(self._ireq, parallel_builds=True)
  File "C:\Users\kamot\anaconda3\lib\site-packages\pip\_internal\operations\prepare.py", line 428, in prepare_linked_requirement
    return self._prepare_linked_requirement(req, parallel_builds)
  File "C:\Users\kamot\anaconda3\lib\site-packages\pip\_internal\operations\prepare.py", line 473, in _prepare_linked_requirement
    local_file = unpack_url(
  File "C:\Users\kamot\anaconda3\lib\site-packages\pip\_internal\operations\prepare.py", line 155, in unpack_url
    file = get_http_url(
  File "C:\Users\kamot\anaconda3\lib\site-packages\pip\_internal\operations\prepare.py", line 96, in get_http_url
    from_path, content_type = download(link, temp_dir.path)
  File "C:\Users\kamot\anaconda3\lib\site-packages\pip\_internal\network\download.py", line 146, in __call__
    for chunk in chunks:
  File "C:\Users\kamot\anaconda3\lib\site-packages\pip\_internal\cli\progress_bars.py", line 53, in _rich_progress_bar
    for chunk in iterable:
  File "C:\Users\kamot\anaconda3\lib\site-packages\pip\_internal\network\utils.py", line 63, in response_chunks
    for chunk in response.raw.stream(
  File "C:\Users\kamot\anaconda3\lib\site-packages\pip\_vendor\urllib3\response.py", line 573, in stream
    data = self.read(amt=amt, decode_content=decode_content)
  File "C:\Users\kamot\anaconda3\lib\site-packages\pip\_vendor\urllib3\response.py", line 538, in read
    raise IncompleteRead(self._fp_bytes_read, self.length_remaining)
  File "C:\Users\kamot\anaconda3\lib\contextlib.py", line 137, in __exit__
    self.gen.throw(typ, value, traceback)
  File "C:\Users\kamot\anaconda3\lib\site-packages\pip\_vendor\urllib3\response.py", line 440, in _error_catcher
    raise ReadTimeoutError(self._pool, None, "Read timed out.")
pip._vendor.urllib3.exceptions.ReadTimeoutError: HTTPSConnectionPool(host='files.pythonhosted.org', port=443): Read timed out.

In [80]:
from xgboost import XGBClassifier, XGBRFClassifier

In [81]:
xgb_clf = XGBRFClassifier(booster = 'gbtree')

In [82]:
xgb_clf.fit(x_train, y_train)

C:\Users\kamot\anaconda3\lib\site-packages\xgboost\sklearn.py:1224: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)
C:\Users\kamot\anaconda3\lib\site-packages\sklearn\preprocessing\_label.py:98: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\kamot\anaconda3\lib\site-packages\sklearn\preprocessing\_label.py:133: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\kamot\anaconda3\lib\site-packages\xgboost\data.py:250: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  elif isinstance(data.columns, (pd.Int64Index, pd.RangeIndex)):

[17:33:53] WARNING: C:\Windows\Temp\abs_557yfx631l\croots\recipe\xgboost-split_1659548953302\work\src\learner.cc:1115: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'multi:softprob' was changed from 'merror' to 'mlogloss'. Explicitly set eval_metric if you'd like to restore the old behavior.

XGBRFClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
                colsample_bytree=1, enable_categorical=False, gamma=0,
                gpu_id=-1, importance_type=None, interaction_constraints='',
                max_delta_step=0, max_depth=6, min_child_weight=1, missing=nan,
                monotone_constraints='()', n_estimators=100, n_jobs=8,
                num_parallel_tree=100, objective='multi:softprob',
                predictor='auto', random_state=0, reg_alpha=0,
                scale_pos_weight=None, tree_method='exact',
                validate_parameters=1, verbosity=None)

In [83]:
my_xgb_preds = my_xgb_clf.predict(x_test)

NameError: name 'my_xgb_clf' is not defined